openapi: 3.1.0
info:
  title: Pockyt API Documentation
  version: 0.1.0
  description: 
    $ref: introduction/_introduction.md 
  license:
    name: Pockyt
    url: https://mapi.Pockyt.yunkeguan.com 

  contact: 
    name: API Team
    email: n@gwocu.com  
    url: https://gwocu.com/contact

tags:
  - name: Universal APIs
    description: List of Universal APIs 
  - name : Pockyt In-store APIs 
    description: List of In-store APIs
  - name: Pockyt Hosted Checkout APIs
    description: List of Hosted Checkout APIs
  - name: Pockyt Integrated Payment APIs 
    description: List of Integrated Payment APIs
  - name: Customer Records APIs
    description: List of Customer Record APIs
  - name: Recurring Payment APIs
    description: List of Recurring Payment APIs
  - name: Payouts APIs
    description: List of Payout APIs

servers: 
  - url:  https://mapi.yuansfer.com/app-data-search/v3 
    description: Production
  - url:  https://mapi.yuansfer.yunkeguan.com
    description: Sandbox
components:
  schemas: 
    secure-pay:
      $ref:  ./schemas/secure-pay.yaml
    process:
      $ref: ./schemas/process.yaml
    pre-pay: 
      $ref: ./schemas/pre-pay.yaml
    refund:
      $ref: ./schemas/appdatasearchv3refund.yaml
    cancel:
      $ref: ./schemas/cancel.yaml
    consult:
      $ref: ./schemas/consult.yaml
    apply-token:
      $ref: ./schemas/apply-token.yaml
    pay:
     $ref: ./schemas/pay.yaml
    revoke:
      $ref: ./schemas/revoke.yaml
    register:
      $ref: ./schemas/register.yaml
    retrieve:
      $ref: ./schemas/retrieve.yaml
    update:
      $ref: ./schemas/update.yaml
    tran-query:
      $ref: ./schemas/tran-query.yaml
    Instoreadd:
      $ref: ./schemas/Instoreadd.yaml
    Instoreprepay:
      $ref: ./schemas/Instoreprepay.yaml
    create-trans-qrcode:
      $ref: ./schemas/create-trans-qrcode.yaml
    createbankaccount:
      $ref: ./schemas/createbankaccount.yaml
    registercustomer:
      $ref: ./schemas/registercustomer.yaml
    retrievecustomer:
      $ref: ./schemas/retrievecustomer.yaml
    TransferPayout:
      $ref: ./schemas/TransferPayout.yaml
    updatecustomer:
      $ref: ./schemas/updatecustomer.yaml
    Deletepay:
      $ref: ./schemas/Deletepay.yaml
    Asynchronous:
      $ref: ./schemas/Asynchronous.yaml
     
  securitySchemes:
        api_keys:
          description: |
            Generate bearer token value in the application settings.
          name: Bearer token value
          type: apiKey
          in: header
        jwt:
          description: |
            Generate your JWT when you log in.
          type: http
          scheme: bearer
          bearerFormat: JWT 
paths:  
  /secure-pay:  
     $ref: ./paths/secure-pay.yaml
  /process:
    $ref: ./paths/process.yaml
  /prepay:
    $ref: ./paths/prepay.yaml
  /refund:
    $ref: ./paths/appdatasearchv3refund.yaml
  /Instorecancel:
    $ref: ./paths/cancel.yaml
  /consult:
    $ref: ./paths/consult.yaml
  /apply-token:
    $ref: ./paths/apply-token.yaml
  /pay:
    $ref: ./paths/pay.yaml
  /revovke:
    $ref: ./paths/revoke.yaml
  /register:
    $ref: ./paths/register.yaml
  /retrieve:
    $ref: ./paths/retrieve.yaml
  /update:
    $ref: ./paths/update.yaml
  /tran-query:
    $ref: ./paths/tran-query.yaml
  /Instoreadd:
    $ref: ./paths/Instoreadd.yaml
  /Instoreprepay:
    $ref: ./paths/Instoreprepay.yaml
  /create-trans-qrcode:
    $ref: ./paths/create-trans-qrcode.yaml
  /createbankaccount:
    $ref: ./paths/createbankaccount.yaml
  /registercustomer:
    $ref: paths/registercustomer.yaml
  /retrievecustomer:
    $ref: ./paths/retrievecustomer.yaml
  /TransferPayout:
    $ref: ./paths/TransferPayout.yaml
  /updatecustomer:
    $ref: ./paths/updatecustomer.yaml
  /Deletepay:
    $ref: ./paths/Deletepay.yaml
  /Asynchronous:
    $ref: ./paths/Asynchronous.yaml

  

  
   
       
      
  
        
         
                   
                 
        
 
          
         
      
  
           
   
  
 
  
  